<nav class="admin-nav navbar navbar-expand navbar-light">
    <div class="navbar-nav">
        <a routerLink="accounts" routerLinkActive="active" class="nav-item nav-link">Accounts</a>
        <a routerLink="employees" routerLinkActive="active" class="nav-item nav-link">Employees</a>
        <a routerLink="departments" routerLinkActive="active" class="nav-item nav-link">Departments</a>
        <a routerLink="requests" routerLinkActive="active" class="nav-item nav-link">Requests</a>
    </div>
</nav>